body{
  margin: 0px;
  background-color: #F6E5DC;
}

.GridContainerForBodyText{
  max-width: 550px;
  display: block;
  border: 1px solid red;
  position: absolute;
  top: -650px;
  left: 300px;
  padding: 10px;
  margin: 750px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.01rem;
  padding-right: 0.01rem;
  align-items: start;
  gap: 1em;
}

.memory{
  color: black;
  font-family: Lubalin Graph ITC Turner Bold;
  font-size: 3.9375rem;
  color: #653B2F;
  position: absolute;
  top: -50px;
}


.memory_match{
    font-family: Lato;
    font-weight: bold;
    font-size: 2rem;
    color: #653B2F;
    position: absolute;
    top: 70px;
}

.memory_match_pic{
    width: 825px; 
    height: auto;
  position: absolute;
  top: 150px;
  width: 130%; 
    max-width: none; 
    margin-left: 0; 
    margin-right: -30%; 
    display: block; 
}

.memory_match_body{
  color: black;
  font-family: Lato;
  font-weight: normal;
  font-size: 1.25rem;
  position: relative;
  top: 700px;
}

.memory_match_age{
  color: black;
  font-family: Lato;
  font-weight: normal;
  font-size: 1.25rem;
  position: relative;
  position: relative;
  top: 700px;
}

.memory_match_players{
  color: black;
  font-family: Lato;
  font-weight: normal;
  font-size: 1.25rem;
  position: relative;
  top: 700px;
}

.simon{
  font-family: Lato;
  font-weight:bold;
  font-size: 2rem;
  color: #653B2F;
  position: absolute;
  top: 950px;
}

.simon_pic{
  width: 825px; 
  height: auto;
position: absolute;
top: 1030px;
width: 130%; 
  max-width: none; 
  margin-left: 0; 
  margin-right: -30%; 
  display: block; 
}

.simon_body{
  color: black;
  font-family: Lato;
  font-weight: normal;
  font-size: 1.25rem;
  position: relative;
  top: 1385px;
}

.simon_age{
  color: black;
  font-family: Lato;
  font-weight: normal;
  font-size: 1.25rem;
  position: relative;
  top: 1385px;
}

.simon_players{
  color: black;
  font-family: Lato;
  font-weight: normal;
  font-size: 1.25rem;
  position: relative;
  top: 1385px;
}

.cortex{
    font-family: Lato;
    font-weight:bold;
    font-size: 2rem;
    color: #653B2F;
    position: absolute;
    top: 1900px;
}

.cortex_pic{
  width: 825px; 
  height: auto;
position: absolute;
top: 1996px;
width: 130%; 
  max-width: none; 
  margin-left: 0; 
  margin-right: -30%; 
  display: block; 
}

.cortex_body{
  color: black;
  font-family: Lato;
  font-weight: normal;
  font-size: 1.25rem;
  position: relative;
  top: 2100px;
}

.cortex_age{
  color: black;
  font-family: Lato;
  font-weight: normal;
  font-size: 1.25rem;
  position: relative;
  top: 2100px;
}

.cortex_players{
  color: black;
  font-family: Lato;
  font-weight: normal;
  font-size: 1.25rem;
  position: relative;
  top: 2100px;
}

.NavigationBar ul{
  list-style-type: none;
  background-color: rgb(84, 84, 84);
  padding: 0px;
  margin: 0px;
  overflow: hidden;
  font-family: helvetica;
  font-size: 20px;
  }

.NavigationBar a{
  color: white;
  text-decoration: none;
  padding: 15px;
  display: block;
  text-align: center;
}

.NavigationBar a:hover{
  background-color: rgb(52, 52, 52);
}

.NavigationBar li{
  float: left;
}

@media (max-width: 1730px) {
  .GridContainerForBodyText {
    margin: 750px 200px 0px 200px; 
    font-size: 20px;
  }
}

@media (max-width: 1400px) {
  .GridContainerForBodyText {
    margin: 750px 100px 0px 0px; 
    font-size: 20px;
  }
}

@media (max-width: 1200px) {
  .GridContainerForBodyText {
    margin: 750px 200px 0px 0px; 
    font-size: 20px;
  }
}

@media (max-width: 1100px) {
  .GridContainerForBodyText {
    font-size: 20px;
    margin: 750px 0px 0px -100px;
  }
}

@media (max-width: 900px) {
  .GridContainerForBodyText {
    font-size: 20px;
    margin: 750px 0 0px -200px;
  }
}

@media (max-width: 700px) {
  .GridContainerForBodyText {
    font-size: 20px;
    margin: 750px 0 0px -250px;
  }
}

@media (max-width: 600px) {
  .GridContainerForBodyText {
    font-size: 20px;
    margin: 750px 0 0px -290px;
  }
}

@media (max-width: 500px) {
  .GridContainerForBodyText {
    font-size: 20px;
    margin: 750px 0 0px -300px;
    padding: 20px;
  }
}

@media (max-width: 393px) {
  .GridContainerForBodyText {
    font-size: 20px;
    margin: 750px -3px 0px -300px;
    padding: 20px;
  }
}

@media (max-width: 1100px) {
  .memory {
    font-size: 3.9375rem;
    top: -70px;
  }

  @media (max-width: 900px) {
    .memory {
      font-size: 3.9375rem;
      top: -50px;
    }
  }

  @media (max-width: 500px) {
    .memory {
      font-size: 2.25rem;
      position: absolute;
      top: 30px;
    }
  }

  @media (max-width: 1100px) {
    .memory_match {
      font-size: 2rem;
    }
  }

  @media (max-width: 500px) {
    .memory_match {
      font-size: 1.5rem;
      position: absolute;
      top: 107px;
    }
  }

@media (max-width: 1100px) {
  .memory_match_pic {
    width: 550px; 
    height: auto;
    position: absolute;
    left: 0px;
    top: 150px;
  }
}

@media (max-width: 500px) {
  .memory_match_pic {
    width: 450px; 
    height: auto;
    position: absolute;
    left: 25px;
    top: 160px;
  }
}

@media (max-width: 393px) {
  .memory_match_pic {
    width: 350px; 
    height: auto;
    position: absolute;
    left: 25px;
    top: 160px;
  }
}

@media (max-width: 1100px) {
  .memory_match_body {
 font-size: 1rem;
 top: 570px;
  }
}

@media (max-width: 500px) {
  .memory_match_body {
 top: 490px;
  }
}

@media (max-width: 393px) {
  .memory_match_body {
 top: 410px;
  }
}

@media (max-width: 1100px) {
  .memory_match_age {
 font-size: 1rem;
 top: 570px;
  }
}

@media (max-width: 1100px) {
  .memory_match_players {
 font-size: 1rem;
 top: 570px;
  }
}

  @media (max-width: 500px) {
    .memory_match_age {
      top: 490px;
    }
  }

  @media (max-width: 500px) {
    .memory_match_players {
      top: 490px;
    }
  }

  @media (max-width: 393px) {
    .memory_match_players {
      top: 410px;
    }
  }

  @media (max-width: 393px) {
    .memory_match_players {
      top: 410px;
    }
  }

  @media (max-width: 1100px) {
    .simon {
      font-size: 2rem;
      position: absolute;
      top: 800px;
    }
  }

  @media (max-width: 900px) {
    .simon {
      font-size: 2rem;
      position: absolute;
      top: 800px;
    }
  }

  @media (max-width: 500px) {
    .simon {
      font-size: 1.5rem;
      position: absolute;
      top: 760px;
    }
  }

  @media (max-width: 1100px) {
    .simon_pic {
      width: 550px; 
      height: auto;
      position: absolute;
      left: 0px;
      top: 880px;
    }
  }

  @media (max-width: 500px) {
    .simon_pic {
      width: 450px; 
      height: auto;
      position: absolute;
      left: 25px;
      top: 820px;
    }
  }

  @media (max-width: 393px) {
    .simon_pic {
      width: 350px; 
      height: auto;
      position: absolute;
      left: 25px;
      top: 820px;
    }
  }


  
  @media (max-width: 1300px) {
    .simon_body {
      font-size: 1rem;
      top: 1000px;
    }
  }

  @media (max-width: 1100px) {
    .simon_body {
      font-size: 1rem;
      position: relative;
      top: 1140px;
    }
  }
  

  @media (max-width: 500px) {
    .simon_body {
      font-size: 1rem;
      position: relative;
      top: 990px;
    }
  }
  
  @media (max-width: 393px) {
    .simon_body {
      font-size: 1rem;
      position: relative;
   top: 890px;
    }
  }

  @media (max-width: 1300px) {
    .simon_age {
   font-size: 1rem;
   top: 990px;
    }
  }

  @media (max-width: 1300px) {
    .simon_players {
      top: 990px;
    }
  }

  @media (max-width: 1100px) {
    .simon_age{
      font-size: 1rem;
      position: relative;
      top: 1140px;
       }
     }

  @media (max-width: 1100px) {
    .simon_players{
      font-size: 1rem;
      position: relative;
      top: 1140px;
       }
     }


  @media (max-width: 500px) {
    .simon_age{
      font-size: 1rem;
      position: relative;
      top: 990px;   }
  }

  @media (max-width: 500px) {
    .simon_players{
      font-size: 1rem;
      position: relative;
      top: 990px;
    }
  }

  @media (max-width: 393px) {
    .simon_age{
      font-size: 1rem;
      position: relative;
      top: 890px;   }
  }

  @media (max-width: 393px) {
    .simon_players{
      font-size: 1rem;
      position: relative;
      top: 890px;
    }
  }

  @media (max-width: 1100px) {
    .cortex {
      font-size: 2rem;
      position: absolute;
      top: 1550px;
    }
  }

  @media (max-width: 900px) {
    .cortex {
      font-size: 2rem;
      position: absolute;
      top: 1540px;
    }
  }

  @media (max-width: 500px) {
    .cortex {
      font-size: 1.5rem;
      position: absolute;
      top: 1460px;
    }
  }

  @media (max-width: 1100px) {
    .cortex_pic {
      width: 550px; 
      height: auto;
      position: absolute;
      left: 0px;
      top: 1630px;
    }
  }

  @media (max-width: 900px) {
    .cortex_pic {
      width: 550px; 
      height: auto;
      position: absolute;
      left: 0px;
      top: 1620px;
    }
  }

  @media (max-width: 500px) {
    .cortex_pic {
      width: 450px; 
      height: auto;
      position: absolute;
      left: 20px;
      top: 1520px;
    }
  }

  @media (max-width: 393px) {
    .cortex_pic {
      width: 350px; 
      height: auto;
      position: absolute;
      left: 25px;
      top: 1520px;
    }
  }
  
  @media (max-width: 1300px) {
    .cortex_body {
   font-size: 1rem;
   top: 1450px;
    }
  }
  
  @media (max-width: 1100px) {
    .cortex_body {
   font-size: 1rem;
   top: 1710px;
    }
  }

  @media (max-width: 900px) {
    .cortex_body {
      font-size: 1rem;
   top: 1700px;
    }
  }

  @media (max-width: 500px) {
    .cortex_body {
      font-size: 1rem;
      top: 1490px;
    }
  }

  @media (max-width: 393px) {
    .cortex_body {
      font-size: 1rem;
      top: 1370px;
    }
  }
  
  @media (max-width: 1300px) {
    .cortex_age {
   font-size: 1rem;
   top: 1450px;
    }
  }

  @media (max-width: 1300px) {
    .cortex_players {
   font-size: 1rem;
   top: 1450px;
    }
  }

  @media (max-width: 1100px) {
    .cortex_age{
      font-size: 1rem;
      top: 1710px;
       }
     }

  @media (max-width: 1100px) {
    .cortex_players{
      font-size: 1rem;
      top: 1710px;
       }
     }


  @media (max-width: 500px) {
    .cortex_age{
      font-size: 1rem;
      position: relative;
      top: 1490px;
    }
  }

  @media (max-width: 500px) {
    .cortex_players{
      font-size: 1rem;
      position: relative;
      top: 1495px;
    }
  }

  @media (max-width: 393px) {
    .cortex_age{
      font-size: 1rem;
      position: relative;
      top: 1370px;
    }
  }

  @media (max-width: 393px) {
    .cortex_players{
      font-size: 1rem;
      position: relative;
      top: 1370px;
    }
  }
